<!DOCTYPE html>
<html lang="en">

<head>
    <title>Music Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>SongID</th>
                <th>SongName</th>
                <th>ArtistID</th>
                <th>YearReleased</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <% for (var iCount = 0; iCount < MusicLibrary.length; iCount++) {%>
            <tr>
                <td>
                    <form action="/deleteSong/<%= MusicLibrary[iCount].SongID %>" method="post">
                        <input type="submit" name="delete" value="Delete">
                    </form>
                    
                </td>
                <td><%= MusicLibrary[iCount].SongID %></td>
                <td><%= MusicLibrary[iCount].SongName %></td>
                <td><%= MusicLibrary[iCount].ArtistID %></td>
                <td><%= MusicLibrary[iCount].YearReleased %></td>
                <td>
                    <form action="/editsong/<%= MusicLibrary[iCount].SongID%>" method="post">
                        <input type="submit" name="edit" value="Edit">
                    </form>
                </td>
            </tr>
            <% }%>
        </tbody>
    </table>
    <br><br>
    <form action = "/startover/" method="post">
        <input type="submit" name="startOver" value="Start Over">
    </form>
</body>

</html>